
body{
	background-color: rgb(180, 198, 219);
}
#main{
	position: relative;
	background-color: white;
	width:900px;
	height:500px;
}
#head{
	height:100px;
}
#body{
	height:400px;
}
#home{
	float:left;
	left:10px;
	top:10px;
}
.button{
	position: relative;
	border-radius: 10px;
	background-color: white;
}