<html>
<head>
<link rel="stylesheet" type="text/css" href="external.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="external.js"></script>
<style>
#main{
	width:400px;
	height:200px;
}
.form{
	position: relative;
	width: 400px;
	height: 150px;
	left: 75px;
	top: 30px;
}
a{
	position: relative;
	left:20px;
	top:5px;
	width:50px;
	height:10px;
}
label{
	display: inline-block;
	margin-top: 5px;}
.wrapper{
	position: relative;
	float: left;
	height: 125px;
}
.input{
	position: relative;
	display: inline;
	left: 15px;
	margin-top: 3px;}
#new_submit{
	position:absolute;
	left:85px;
	top:135px;
}
</style>
<script>
function init(){
	center_content();
}
function validate_bday(string){
	//alert(string);
	var patt = new RegExp("(0[1-9]|1[0-2])(-|/)(0[1-9]|[1-2][0-9]|3[0-1])(-|/)[1-9][0-9][0-9][0-9]");
	var result = [];
	if(patt.test(string)){
		var mo = string.slice(0,2),day = string.slice(3,5),year = string.slice(6,10);
		var b_date = new Date(),now = new Date();
		b_date.setYear(year);
		b_date.setMonth(Number(mo)-1);
		b_date.setDate(day);
		var age = Math.floor((now.getTime()-b_date.getTime())/(1000*60*60*24));
		if(age < 18*365.25){
			result = [false,"Must be 18 or older to create an account!"];
		}else{
			var new_date = year+mo+day;
			result = [true,new_date];
		}
	}else{
		var message = ("Invalid date!\nEnter a valid birthday.\n(MM/DD/YYYY)");
		result = [false,message];
	}
	return result;
}
function create_account(){
	var fn = $('#first_name').val();
	var ln = $('#last_name').val();
	var bd = $('#b_day').val();
	var un = $('#new_user_name').val();
	var pw = $('#new_password').val();
	
	var valid = validate_bday(bd);
	//alert(bd);
	if(valid[0]){
		bd = valid[1];
		$.post("../Project09/add_user.php",{
			first_name:fn,
			last_name:ln,
			b_day:bd,
			new_user_name:un,
			new_password:pw
		},function(data,status){
			//alert("Data: " + data + "\nStatus: " + status);
			//do something
			if(data == 1){
				location = 'login.html';
			}else{
				alert(data);
			}
		});
	}else{
		alert(valid[1]);
	}
}
$(document).ready(function(){
	init();
	$('#new_submit').click(create_account);
});
</script>
</head>

<body>
	<div id="main">
		<div class="form" id="new_user_form">
			<div id="labels_wrapper" class="wrapper">
				<label for="first_name">First Name:</label><br>
				<label for="last_name">Last Name:</label><br>
				<label for="b_day">Birthday:</label><br>
				<label for="new_user_name">Username:</label><br>
				<label for="new_password">Password:</label><br>
			</div>
			<div id="input_wrapper" class="wrapper">
				<input type="text" class="input" id="first_name"><br>
				<input type="text" class="input" id="last_name"><br>
				<input type="text" class="input" id="b_day" title="mm/dd/yyyy"><br>
				<input type="text" class="input" id="new_user_name"><br>
				<input type="password" class="input" id="new_password"><br>
			</div>
			
			<button class="button" id="new_submit">Sign Up</button>
		</div>
	</div>
</body>
</html>